@charset "UTF-8";
@import url('./font.css');
@import url('./fontawesome.min.css');
@import url('./swiper-bundle.min.css');

/* base */
html{height:100%;font-size:62.5%;}
body, h1, h2, h3, h4, h5, h6, fieldset, ul, ol, dl, dt, dd, p, button, figure{margin:0;padding:0;}
body{font:normal 1.4rem/1.3 'SpoqaHanSansNeo', 'sans-serif';color:#000;background:#f2f2f2;word-break:keep-all;-webkit-touch-callout:none;}
legend, caption{overflow:hidden;width:0.1rem;height:0.1rem;color:transparent;}
a{text-decoration:none;color:inherit;}
a[href^="tel"]{cursor:default;}
img{width:100%;vertical-align:middle;}
fieldset, button{background:none;border:0;}
ul:after,ol:after{content:'';display:block;clear:both;}
li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;font-size:1em;}
iframe{width:100%;vertical-align:middle;border:0 none;}
hr{margin:1.25em 0;border:0 none;height:0.1rem;background:#ccc;}
button, input, optgroup, select, textarea{font-family:inherit;}
/* h1, h2, h3, h4, h5, h6{font-weight:700;} */
h1, h2, h3, h4, h5, h6{font-weight:700;-webkit-font-smoothing:subpixel-antialiased;}
input::-ms-clear{display:none;}
input[type=password]::-ms-reveal{display:none;}
b, strong{font-weight:700;}
em,i{font-style:normal;}

section{padding:0 1.4rem 6rem;box-sizing:border-box;text-align:center;}
#main{padding:2rem 5rem;height:100vh;}
section h1{padding-bottom:6.5rem;font-family:'MapoFlowerIsland';font-size:1.4rem;}
section h2, .tit_sec_sub{font-family:'MapoFlowerIsland';}
.tit_sec{padding:5rem 0 2rem;}
.main_date{position:relative;padding-bottom:3rem;font-family:'MapoGoldenPier';font-size:3.8rem;letter-spacing:-0.1rem;}
.main_date:before{position:absolute;top:-3rem;left:50%;transform:translateX(-50%) rotate(-45deg);content:'';display:block;width:4rem;height:0.1rem;background:#ccc;}
.main_date > strong{font-weight:900;}
.wedding_character{padding:1.5rem 0 2rem;font-family:'MapoFlowerIsland';font-size:1.7rem;}
.wedding_character > i{font-size:1.3rem;}
.main_img{position:relative;width:100%;overflow:hidden;transform: scaleX(-1);}
.main_img:after{content:'';display:block;padding-bottom:100%;}
.main_img span{position:absolute;width:100%;display:flex;}
.wedding_txt{padding-top:1rem;font-size:1.2rem;font-family:'MapoGoldenPier';}

#congratulatory{display:flex;height:30rem;padding-bottom:0;align-items:center;justify-content: center;background:#ececec;}
#congratulatory h2{padding:0 0 2rem;font-family:'MapoFlowerIsland';}
.wd_txt{font-size:1.2rem;font-family:'MapoFlowerIsland';}
.wd_txt strong{display:block;margin-top:1.5rem;font-size:1.3rem;}
.wd_big_txt{margin-top:2rem;letter-spacing:0.3rem;}
.wd_big_txt span{display:block;font-size:1.2rem;}
.wd_big_txt span strong{font-size:1.4rem}
.wd_big_txt .one_word{display:inline-block;width:2.3rem;}
.wd_big_txt span strong.character{font-size:1.6rem;font-weight:900;}

.contact_wrap{padding:0 7rem;}
.contact_wrap h3{margin:3rem 0 1rem;font-family:'MapoFlowerIsland';color:#649ab6}
.contact_wrap .parents + h3{margin-top:4rem;color:#b6648e;}
.contact_wrap .parents > li{display:flex;justify-content:space-between;align-items:center;}
.contact_wrap .parents > li + li{margin-top:0.5rem;}
.contact_wrap .parents .txt_name{font-size:1.2rem;color:#7cabc3}
.contact_wrap .parents.bride .txt_name{color:#bf7a9e;}
.contact_wrap .parents .txt_name strong{display:inline-block;margin-left:0.5rem;font-size:1.4rem;color:#000;font-weight:400}
.contact_wrap .parents .txt_name strong.character{margin-left:1.5rem;font-size:1.5rem;font-weight:700}
.btn_contact{font-size:1.2rem;}
.btn_contact > a{display:inline-block;padding:0 1.5rem;height:2rem;line-height:2rem;border:0.1rem solid #649ab6;border-radius:0.3rem;color:#649ab6;}
.btn_contact > a + a{margin-left:0.5rem;}
.bride .btn_contact > a{border-color:#b6648e;color:#b6648e;}

.tit_sec_sub{position:relative;margin:7.7rem 0 2rem;font-size:1.8rem}
.tit_sec_sub:before{position:absolute;top:-3rem;left:50%;transform:translateX(-50%);content:'';display:block;width:10rem;height:0.1rem;border-top:0.2rem dotted #ddd;}
.acc_info{margin-bottom:2rem;font-family:'MapoFlowerIsland';font-size:1.2rem;color:#838383;}
.accunt_wrap ul > li{display:flex;align-items:center;justify-content:center;font-size:1.3rem;}
.accunt_wrap ul > li + li{margin-top:1rem;}
.btn_count{margin-left:1.5rem;display:inline-block;padding:0 1.5rem;height:2.4rem;line-height:2.4rem;border-radius:1.2rem;background:#649ab6;color:#fff;font-weight:400;font-size:1.1rem;}
.btn_count.bride{background:#bf7a9e;}

#gallery{padding:0 3.5rem 6rem;background:#ececec}
.gallery_swiper{position:relative;overflow:hidden;height:48rem;}
.sw_btn{position:absolute;top:50%;display:block;width:1.5rem;height:1.5rem;border:0.3rem solid rgba(255,255,255,0.8);border-width:0.2rem 0.2rem 0 0;transform:rotate(45deg);z-index:1;}
.sw_btn.next{right:1rem;}
.sw_btn.prev{left:1rem;transform:rotate(-135deg);}
.gallery_swiper .swiperTop{height:calc(100% - 6.3rem)}
.gallery_swiper .swiperThumb{margin-top:0.5rem;height:5.8rem;}
.gallery_swiper .img img{object-fit:cover;}
.gallery_swiper .swiper-slide{display:flex;align-items:center;}

#map{padding-bottom:6rem;}
.wd_map{width:100%;height:30rem;border-radius: 0.5rem !important;}
.wd_address{padding:0.5rem;font-size:1.3rem;background:#fff;border-radius:0 0 0.3rem 0.3rem;}
.wd_address strong{display:block;padding-bottom:0.5rem;font-weight:700;}